body {
  font-family: 'Open Sans Condensed';
  padding: 20px 40px;

  @media screen and (max-width: 800px) {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.notices-container{
  height:35px;
  display: flex;
  justify-content: flex-end;
  margin:0 10px 0 0;
  font-size: 18px;
  text-align: center;
}