.order-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-bottom: 10px;

  @media screen and (max-width: 800px) {
    align-items: left;
  }

  .title {
    font-size: 20px;
    padding-bottom:10px;
    margin-bottom: 25px;
    border-bottom:2px solid;

    cursor: pointer;
    &:hover {
      color: grey;
    }
  }

  .preview {
    display: flex;
    justify-content: flex-start;


    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
  }
}
